@charset "utf-8";
/* CSS Document */
body {
  color: white;
  background: black;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
header {
  font-style: normal;
  color: red;
  border: 3px solid blue;
}
figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
